{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container bg-light mt-4 pt-2 pb-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="text-center">
                <!---->
                <h4>{{ request.user.get_full_name }}</h4>
                <p class="text-secondary">{{ request.user.email }}</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Start a Haggle</li>
                <li class="list-group-item">Previous Haggles</li>
                <li class="list-group-item">Profile Information</li>
                <li class="list-group-item">Payment Details</li>
            </ul>
        </div>
        <div class="vol-lg-8">
            {% block main %}

            {% endblock %}
        </div>
    </div>
</div>


{% endblock %}