{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block head %}

<style>
    .StripeElement {
        height: 40px;
        padding: 10px 12px;
        width: 100%;
        color: #32325d;
        background-color: white;
        /*border: 1px solid transparent;*/
        border: 1px solid #ced4da;
        border-radius: 4px;
        
        /*box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;*/
    }

    .StripeElement--focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block main %}

    {% if not request.user.customer.stripe_payment_method_id %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Let's add a payment method to your account first to <strong>Haggle</strong> with sellers!
        <button type="button" class="close" data-dismiss="alert"aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endif %}

    <b class="text-secondary">Add your Credit/Debit Card</b>
    <div class="card bg-white mt-2 mb-5">
        <div class="card-body">

            {% if request.user.customer.stripe_payment_method_id %}
            <div id="change-card" class="input-group">
                <input type="text" class="form-control" value="**** **** **** ****" disabled>
                <div class="input-group-append">
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Remove card</button>
                    </form>

                </div>
            </div>


            {% else %}
            <form id="setup-form" data-secret="{{ client_secret }}">
                {% csrf_token %}

                <div id="card-element"></div>
                <button id="card-button" class="btn btn-primary mt-3" type="button">Save Card</button>
            </form>
            {% endif %}
        </div>
    </div>

    {% if not request.user.customer.stripe_payment_method_id %}
    <script>
        var stripe = Stripe("{{ STRIPE_API_PUBLIC_KEY }}"); // Your Stripe public key from views.py
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        var cardholderName = document.getElementById('cardholder-name');
        var cardButton = document.getElementById('card-button');
        var clientSecret = "{{ client_secret }}";

        cardButton.addEventListener('click', function(ev) {
            stripe.confirmCardSetup(
                clientSecret, 
                {
                    payment_method: {
                        card: cardElement,
                    },
                },
            ).then(function(result) {
                if (result.error) {
                    // Display error.message in your UI.
                    toast(result.error.message, 'error');
                } else {
                    toast("Payment method added successfully", 'success');
                    window.location.reload(); // Reload the page to display the new payment method.
                    // The setup has succeeded. Display a success message.
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}